.Education {
  .education-list {
    margin: 1rem;
    border: 1px solid #2e344e;
    background-color: #191d2b;
    text-align: center;
    padding: 1rem;
    h4 {
      font-size: 24px;
      font-weight: 200px;
    }
  }
}
.education {
  margin-top: 5rem;
}
